body {
    margin: 0;
    padding: 0;
    background-image: url('background.png'); /* Ersetze 'hintergrundbild.jpg' mit dem Pfad zu deinem Hintergrundbild */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-form {
    position: relative;
    background-color: rgba(128, 128, 128, 0.5); /* Grauer Hintergrund mit Transparenz */
    padding: 20px;
    border-radius: 8px;
    width: 350px; /* Breite des Formulars */
    max-width: 100%; /* Höchstbreite auf 100% des Container-Bereichs setzen */
  }
  
  .register-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: none;
    border-radius: 4px;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .register-form button:hover {
    background-color: #0056b3;
  }
  