body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.container {
    max-width: 800px;
    margin: 20px auto; 
}

#infoMessagesContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

#disclaimer-text {
    position: relative;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    color: #999999;
    z-index: 9999;
    padding-left: 10px;
    padding-bottom: 10px;
}

#disclaimer {
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: -15px;
}
